#backgroundPane{
	-fx-background-color:linear-gradient(rgba(13, 71, 161,1)40%, rgba(0, 50, 120,0.9)100%);
}

#stackPane,#main{
	-fx-background-color:rgba(0,0,0,0);	
}

#top .label{
	-fx-text-fill:white;
}

#title{
	-fx-font-size:60px;
	-fx-font-family:Open Sans;
}

.progress{
	-fx-font-size:20px;
	-fx-font-weight:bold;
}

#title,.progress{
	-fx-text-fill:rgba(255,255,255,0.8);
}

#progressText{
	-fx-font-size:12px;
	-fx-text-fill:rgba(255,255,255,0.8);
}

#imageView{
	-fx-opacity:0.8;
}
